BankReconciliation/Web References/ReconciliationUpload/reems.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://microsoft.com/webservices/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://microsoft.com/webservices/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/webservices/">
      <s:element name="CollectReports">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pay_ref_num" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dep_slip_num" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pay_date" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="payer_id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="payer_name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tel" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="rev_code" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="amount" type="s:decimal" />
            <s:element minOccurs="0" maxOccurs="1" name="pay_method" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="chq_num" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="chq_val_date" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="chq_bnk_code" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="chq_bnk_name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="chq_status" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="chq_rtn_date" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="agency_name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="agency_code" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="bank_code" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="bank_name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="branch_code" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="branch_name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="zone_code" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="zone_name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tco_code" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tco_name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="receipt_number" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="payer_address" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="user" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UCC" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PCC" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CollectReportsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CollectReportsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CollectReportsSoapIn">
    <wsdl:part name="parameters" element="tns:CollectReports" />
  </wsdl:message>
  <wsdl:message name="CollectReportsSoapOut">
    <wsdl:part name="parameters" element="tns:CollectReportsResponse" />
  </wsdl:message>
  <wsdl:portType name="REEMSSoap">
    <wsdl:operation name="CollectReports">
      <wsdl:input message="tns:CollectReportsSoapIn" />
      <wsdl:output message="tns:CollectReportsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="REEMSSoap" type="tns:REEMSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CollectReports">
      <soap:operation soapAction="http://microsoft.com/webservices/CollectReports" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="REEMSSoap12" type="tns:REEMSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CollectReports">
      <soap12:operation soapAction="http://microsoft.com/webservices/CollectReports" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="REEMS">
    <wsdl:port name="REEMSSoap" binding="tns:REEMSSoap">
      <soap:address location="http://www.reemsonline.com/interswitch/reems.asmx" />
    </wsdl:port>
    <wsdl:port name="REEMSSoap12" binding="tns:REEMSSoap12">
      <soap12:address location="http://www.reemsonline.com/interswitch/reems.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>