Collections/Web References/Reemsonline/getnewdate.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://microsoft.com/webservices/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://microsoft.com/webservices/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/webservices/">
      <s:element name="GetDate">
        <s:complexType />
      </s:element>
      <s:element name="GetDateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDateResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetDateSoapIn">
    <wsdl:part name="parameters" element="tns:GetDate" />
  </wsdl:message>
  <wsdl:message name="GetDateSoapOut">
    <wsdl:part name="parameters" element="tns:GetDateResponse" />
  </wsdl:message>
  <wsdl:portType name="GetNewDateSoap">
    <wsdl:operation name="GetDate">
      <wsdl:input message="tns:GetDateSoapIn" />
      <wsdl:output message="tns:GetDateSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GetNewDateSoap" type="tns:GetNewDateSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDate">
      <soap:operation soapAction="http://microsoft.com/webservices/GetDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GetNewDateSoap12" type="tns:GetNewDateSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDate">
      <soap12:operation soapAction="http://microsoft.com/webservices/GetDate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GetNewDate">
    <wsdl:port name="GetNewDateSoap" binding="tns:GetNewDateSoap">
      <soap:address location="http://reemsonline.com/getnewdate.asmx" />
    </wsdl:port>
    <wsdl:port name="GetNewDateSoap12" binding="tns:GetNewDateSoap12">
      <soap12:address location="http://reemsonline.com/getnewdate.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>